header(class="Header")
    .Row.container
        nav(id="Nav" class="Navigation")
            ul(class="Navigation__list")
                li(class="Navigation__item")
                    a(class="Navigation__link" href="#retouches" title="Link") Atelier
                li(class="Navigation__item")
                    a(class="Navigation__link" href="#mercerie" title="Link") Mercerie
                li(class="Navigation__item Navigation__logo")
                    a(class="Logo" href="index.html" title="homepage")
                        span
                            img(src="img/logo.png" alt="La Magie du Dé")
                        | La Magie du Dé
                li(class="Navigation__item")
                    a(class="Navigation__link" href="#creations" title="Link") Créations
                li(class="Navigation__item")
                    a(class="Navigation__link" href="#contact" title="Link") Contact
        
        a(class="Logo Logo__mobile" href="index.html" title="homepage")
            span
                img(src="img/logo.png" alt="La Magie du Dé")
            | La Magie du Dé
        a(class="Button Button--menu" href="#" id="ButtonMenu" title="menu") Menu