extends includes/_template
block variables
block content
    section(class="Hero-unit")
        .container
            header
                h1 
                    span Atelier de retouches couture, et 
                    span boutique mercerie à Cavignac
            a(class="Button Button--primary Hero-unit__button" title="Découvrir l'atelier de retouches" href="#retouches") Découvrez l'atelier
    section(id="retouches" class="Section Section__introduction")
        .Row.container
            img(src="img/atelier-retouches-couture.jpg" alt="L'atelier")
            article(class="Article")
                header
                    h2 L'atelier de couture
                p(class="Article__copy") Installé depuis 2 ans à Cavignac, près de Saint-André-de-Cubzac en Gironde, 
                    span(class="Logo__font") La Magie du Dé 
                    | effectue tous types de couture et retouches, aussi bien pour des vêtements (pantalons, jupes, tuniques ...) que pour de l'ameublement (nappes, housses de coussins, rideaux, voilages ...). La créativité, le savoir-faire et les conseils de cette couturière vous assurent la réalisation d'un travail de qualité.
    section(id="mercerie" class="Section__full")
        .Row.container
            article(class="Article")
                header
                    h2 La mercerie
                p(class="Article__copy") Tous ces petits accessoires de couture indispensables vous rendront de précieux services au quotidien. Voici une partie de ce qui est vendu en boutique :
                ul
                    li Fermetures éclair
                    li Boutons
                    li Fils à coudre et broder
                    li Élastiques
                    li Ruban satin
                    li Motifs thermocolants
                    li Ciseaux
                    li Aiguilles
                    li Kit de couture
                    li Kit à broder
                    li Canevas
                    li Toile aïda et lin
                    li Coupons patchwork
                footer
                    p(class="Article__copy") Vous recherchez un accessoire ?
                    a(class="Button  Article__full--button" title="Me contacter" href="#contact") Me contacter
            div(class="Article__slide")
                img(src="/img/mercerie-1.jpg" alt="Mercerie")
                img(src="/img/mercerie-2.jpg" alt="Ruban en satin")
                img(src="/img/mercerie-3.jpg" alt="Carré 100% coton")
                img(src="/img/mercerie-4.jpg" alt="Fil à coudre")
    section(id="creations" class="Section Section__creations")
        .Column.container
            article(class="Article")
                header
                    h2 Les créations artisanales
                p(class="Article__copy") Une sélection des créations de 
                    span(class="Logo__font") La Magie du Dé
                ul(class="Article__list")
                    li
                        img(src="/img/creations-coussins.jpg" alt="Coussins")
                        span Coussins
                    li
                        img(src="/img/creations-housses.jpg" alt="Housses pour tablette")
                        span Housses tablette
                    li
                        img(src="/img/creations-enfants.jpg" alt="Ensemble bébé")
                        span Ensemble bébé
                    li
                        img(src="/img/creations-chapeau.jpg" alt="Chapeaux et écharpes")
                        span Chapeaux et écharpes
                    li
                        img(src="/img/creations-trousses.jpg" alt="Trousses")
                        span Trousses crayons
                    li
                        img(src="/img/creations-tablier.jpg" alt="Tablier")
                        span Tablier
                        
                a(class="Article__button Button Button--primary" title="Suivre La Magie du Dé sur Facebook" href="https://www.facebook.com/lamagiedude/" target="_blank") Suivre le fil sur Facebook
    
    section(id="contact" class="Section--colored-primary Section__contact")
        .Row.container
            article(class="Article")
                header
                    h3 Contact
                p(class="Article__copy") 166 Avenue de Paris <br> 33620 Cavignac
                p(class="Article__copy") Tel: 05 57 32 85 65
            article(class="Article Article__time")
                header
                    h3 Horaires d'ouverture
                p(class="Article__copy") lundi et dimanche <br> 
                    span Fermé
                p(class="Article__copy") mardi au vendredi <br>
                    span 9h30 à 12h30 – 14h30 à 18h30
                p(class="Article__copy") samedi <br>
                    span 9h30 à 12h30
            div(class="Article__map")
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2815.908413147463!2d-0.3855517844544632!3d45.10792457909846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4800247cf5572389%3A0xa78e3bd60adc82f7!2sNarduzzi+Sandrine!5e0!3m2!1sfr!2sfr!4v1458556195832" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen)